<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieNow</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

</head>

<body>
    <!-- navigation bar -->
    <div class="navbar">
        <nav>
            <input type="checkbox" id="show-search">
            <input type="checkbox" id="show-menu">
            <label for="show-menu" class="menu-icon"><img src="static/images/icons/burger-menu.png"
                    alt="burger menu"></i></label>
            <div class="content">
                <div class="logo"><a href="{{ url_for('home') }}">MoviesNow</a></div>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="{{ url_for('movies') }}">Movies</a></li>
                    <li><a href="{{ url_for('tvshows') }}">TvShows</a></li>
                    <li><a href="{{ url_for('chart') }}">Analytics</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
            
            <label for="show-search" class="search-icon"><img src="static/images/icons/search.png"
                    alt="search icon"></label>
            <form action="#" class="search-box" id="form">
                <input type="text" id="search" placeholder="Type Something to Search..." required>
                <button type="submit" class="go-icon"><img src="static/images/icons/right-arrowtail.png"
                        alt="right arrow"></img></button>
            </form>

            <div class="dropdown">
                <button class="dropbtn">
                    <img src="static/images/icons/user.png" alt="user"></button>
                <div class="dropdown-content">
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{url_for('logout')}}">logout</a>
                </div>
            </div>
        </nav>
    </div>

    <!-- home -->

    <div class="carousel-hero">
        <div class="carousel-container-hero">
            {% for item in movies %}
            {% set backdrop_path = item.backdrop_path %}
            {% set title = item.title %}
            {% set id = item.id %}
            <div class="carousel-hero-item">
                <a href="#" onclick="window.location.href = '/product?id=' + '{{item.id}}' + '&type=movie';">
                    <img src="{{ IMG_URL_ORIGINAL + backdrop_path }}">
                </a>
                <div class="carousel-hero-title">{{ title }}</div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-hero-prev">&#10094;</a>
        <a class="carousel-hero-next">&#10095;</a>
    </div>

    <!-- carousel -->
    <section class="movies">
        <div class="movies-title">
            <h2>Trending Movies This week</h2>
        </div>

        <div class="carousel">
            <div class="carousel-container">
                {% for item in movies %}
                {% set title = item.title %}
                {% set poster_path = item.poster_path %}
                {% set vote_average = item.vote_average %}
                {% set id = item.id %}
                <div class="carousel-item">
                    <a href="#" onclick="window.location.href = '/product?id=' + '{{item.id}}' + '&type=movie';">
                        <img src="{{ IMG_URL + poster_path }}" alt="{{ title }}">
                    </a>
                    <p>{{ title }}</p>
                    <p>imdb:{{ vote_average }}</p>
                </div>
                {% endfor %}

            </div>

        </div>
        <button class="prev-button"><img class="arrowimg" src="static/images/icons/left-arrow.png"
                alt="left arrow"></button>
        <button class="next-button"><img class="arrowimg" src="static/images/icons/right-arrow.png"
                alt="right arrow"></button>
        </div>
    </section>




    <section class="movies">
        <div class="movies-title">
            <h2>Trending TV This week</h2>
        </div>

        <div class="carousel">
            <div class="carousel-container-tv">
                {% for item in tv %}
                {% set title = item.title %}
                {% set poster_path = item.poster_path %}
                {% set vote_average = item.vote_average %}
                {% set id = item.id %}
                <div class="carousel-item">
                    <a href="#" onclick="window.location.href = '/product?id=' + '{{item.id}}' + '&type=tv';">
                        <img src="{{ IMG_URL + poster_path }}" alt="{{ title }}">
                    </a>
                    <p>{{ title }}</p>
                    <p>imdb:{{ vote_average }}</p>
                </div>
                {% endfor %}
            </div>

        </div>
        <button class="prev-button-tv"><img class="arrowimg" src="static/images/icons/left-arrow.png"
                alt="left arrow"></button>
        <button class="next-button-tv"><img class="arrowimg" src="static/images/icons/right-arrow.png"
                alt="right arrow"></button>
        </div>
    </section>




    <!-- footer -->
    <footer>
        <div class="footer-container">
            MoviesNow
        </div>
    </footer>
</body>

<script src="static/js/script.js"></script>

</html>